 body {
   background-color: lightcoral;
   overflow: hidden;
   font-family: 'Poppins';
 }

 .app-container {
   text-align: center;
   margin: 3rem auto;
   height: 820px;
   width: 30%;
   background-color: white;
   border-radius: 5%;
   display: flow-root;

 }

 .search {
   margin-top: 2rem;
   padding-top: 2%;
   padding-bottom: 2%;
   background-color: white;

 }

 .search input {
   font-size: 20px;
 }


 .submit {
   cursor: pointer;
 }

 .app-container img {
   width: 45%;
   margin: 1rem auto;
   display: none;
 }

 .stat-container {
   margin-top: 4rem;
 }

 #temperature {
   font-size: 3rem;
 }

 .weather-description {
   font-size: 2rem;
 }

 .in-depth-stats {
  margin-top: 80px;
 }

 .in-depth-stats p {
  font-size: 40px;
  display: none;
 }

 .toggle {
  /* display: flex; */
  display: none;
  justify-content: center;
 }


 .toggle p {
  font-size: 18px;
  padding: 0 3px;
  cursor: pointer;
 }

 .toggle p:hover {
  opacity: 60%;
 }

 @media (max-height: 869px) {
  .app-container {
    height: 90vh;
  }
 }

 